<!DOCTYPE html>
<html>
  <head>
    <title>CoupgonTest1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= render "shared/header" %>
    </div>

    <div class="flash-messages">
      <%= render "shared/flash" %>
    </div> 
    <%= yield %>
  </body>
</html>
